@import 'vars';


.article {
  line-height: 1.816;
  margin-bottom: 1em;

  & blockquote {
    background: $color-bg-grey;
    border-left: 3px solid $color-primary;
    font-size: 1.15em;
    font-style: italic;
    margin: 1em 0;
    padding: 0.25em 1em 0.25em 2em;
  }

  & code {
    background: $color-bg-grey;
    margin: -.25em 0;
    padding: .25em;
  }

  & figure {
    margin: 2rem 0;

    & figcaption {
      color: $color-text-accent;
      font-size: .95rem;
      text-align: center;

      & > * {
        margin: 0;
        padding: 0;
      }
    }

    & img {
      box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),
                  0 3px 14px 2px rgba(0,0,0,0.12),
                  0 5px 5px -3px rgba(0, 0, 0, 0.2);
      display: block;
      height: auto;
      margin: 0 auto 1rem auto;
      max-width: 100%;
    }
  }

  & li {
    margin-left: 1.5em;
  }

  & pre {
    background: $color-bg-grey;
    max-width: 100%;
    padding: 1rem;
    overflow-x: auto;
  }
}
