$container-padding: 1rem;
$container-width: 50rem;


.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
  padding-left: $container-padding / 2;
  padding-right: $container-padding / 2;
}

ol,
p,
pre,
section,
ul {
  margin-bottom: 1em;
}

// Eliminate margins from nested lists.
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
