@import 'vars';

.nav {
  border-top: 3px solid $color-primary;
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),
              0 3px 14px 2px rgba(0,0,0,0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
}

.nav__link {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: $font-families-headings;

  & a,
  & a:active,
  & a:visited {
    color: black;
    text-decoration: underline;
  }
}

.nav__link--home {
  flex-grow: 1;
  font-size: 1.15rem;
}

.nav__links {
  align-items: center;
  display: flex;
  margin: 0;
  padding: .5em;

  @media screen and (min-width: 51em) {
    & {
      margin: 0 auto;
      max-width: 51em;
    }
  }
}
