.tag-index {
  list-style-position: inside;
}

.tag-index__count {
  font-size: .9em;
  opacity: .75;
}

.tag-list {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}

.tag-list__more {
  display: block;
}

.tag-list__tag {
  background: #eee;
  display: block;
  padding: .25em;
  margin-bottom: .5em;
  margin-right: .5em;
}
