/*
 * Colors
 */
$color-bg-grey: #eee;
$color-primary: #29b6f6;
$color-text-accent: #555;
$color-text-dark: #111;
$color-text-link: $color-primary;
$color-text-muted: #777;

/*
 * Typography
 */
$font-families: 'Open Sans', sans-serif;
$font-families-headings: 'Roboto Mono', sans-serif;
