{{ define "main" }}
  <main class="container">
    <section>
      <h1>Blog</h1>

      <p>
        Sometimes I write about random things that I found interesting or had
        trouble with. I am by no means an expert on most of the content here, but I
        find it interesting so maybe others will too.
      </p>
    </section>

    {{ with .Site.Taxonomies.tags.ByCount }}
      <section>
        <h2>Popular Tags</h2>
        <ul class="tag-list">
          {{- $count := len . -}}
          {{ range first 5 . }}
            {{ partial "tag.html" . }}
          {{ end }}
          {{- if gt $count 5 }}
          <li class="tag-list__more">
            <a href="/tags/">
              ...and {{ sub $count 5 }} more
            </a>
          </li>
          {{- end -}}
        </ul>
      </section>
    {{ end }}

    <section>
      <h2>Posts</h2>

      {{ partial "posts.html" .Pages }}
    </section>
  </main>
{{ end }}
