<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ with (templates.Defer (dict "key" "global")) }}
      {{ partial "css.html" . }}
    {{ end }}
  </head>

  <body class="flex min-h-screen flex-col bg-slate-900 text-slate-100">
    <header>
      {{ block "header" . }}
        <nav
          class="mb-8 bg-zinc-800 p-2 text-sm leading-6 font-semibold text-slate-200 shadow-md lg:text-lg"
        >
          <ul class="mx-auto flex max-w-prose space-x-8 px-4 lg:max-w-4xl">
            <li class="grow">
              <a
                class="transition-colors hover:text-blue-500 hover:underline hover:decoration-blue-500"
                href="/"
                >Home</a
              >
            </li>
            {{ range $.Site.Data.navigation.navbar.links }}
              <li>
                <a
                  class="transition-colors hover:text-blue-500 hover:underline hover:decoration-blue-500"
                  href="{{ .url }}"
                  >{{ .name }}</a
                >
              </li>
            {{ end }}
          </ul>
        </nav>
      {{ end }}
    </header>
    <main class="grow">
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="bg-zinc-800">
      {{ block "footer" . }}
        <nav class="mx-auto max-w-3xl pt-2 pb-4">
          <ul class="flex justify-center space-x-8">
            <li>
              <a
                class="underline transition-colors hover:decoration-blue-500"
                href="/"
              >
                Home
              </a>
            </li>
            {{ range $.Site.Data.navigation.navbar.links }}
              <li>
                <a
                  class="underline transition-colors hover:decoration-blue-500"
                  href="{{ .url }}"
                >
                  {{ .name }}
                </a>
              </li>
            {{ end }}
          </ul>
        </nav>
      {{ end }}
    </footer>
  </body>
</html>
