{{ define "main" }}
  <div class="p-2 text-slate-100 md:text-lg">
    <div class="mx-auto max-w-2xl">
      <section
        class="mb-16 text-center md:flex md:items-center md:justify-between md:text-left"
      >
        <div>
          <h1
            class="mb-2 text-3xl font-bold underline decoration-blue-500 md:text-4xl"
          >
            Chathan Driehuys
          </h1>
          <h2 class="mb-8 text-xl text-slate-300 md:text-2xl">
            Software Developer
          </h2>
        </div>

        {{ $headshot := resources.Get "images/headshot-square-512-compressed.jpg" }}
        {{ $headshot = $headshot.Resize "196x" }}
        <img
          alt="Chathan Driehuys headshot"
          class="mx-auto rounded-full border-4 border-blue-500 shadow-md md:mx-0"
          height="{{ $headshot.Height }}"
          src="{{ $headshot.RelPermalink }}"
          width="{{ $headshot.Width }}"
        />
      </section>

      <section class="mb-16">
        <h2
          class="mb-8 text-center text-2xl underline decoration-blue-500 md:text-3xl"
        >
          About Me
        </h2>
        <p class="mb-2">
          Hi, I&apos;m <b>Chathan Driehuys</b>, a software developer from North
          Carolina. I build performant software with focuses on correctness
          through automation and efficient developer experiences.
        </p>
        <p>
          Outside of work, I enjoy rock climbing, disc golfing, video gaming,
          and flying airplanes.
        </p>
      </section>

      <section class="mb-16">
        <h2
          class="mb-8 text-center text-2xl underline decoration-blue-500 md:text-3xl"
        >
          Experience
        </h2>
        {{ with $.Site.Data.experience.jobs }}
          <ul class="list-inside list-disc">
            {{ range . }}
              <li class="mb-2">
                <span class="font-bold">{{ .name }}</span> &ndash;
                {{ .description }}
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </section>

      <section class="mb-16">
        <h2
          class="mb-8 text-center text-2xl underline decoration-blue-500 md:text-3xl"
        >
          Contact Me
        </h2>

        {{ with $.Site.Data.contact.methods }}
          <div
            class="flex flex-col items-center text-lg md:flex-row md:justify-between"
          >
            {{ range . }}
              <div class="md:flex-1">
                <a
                  class="mb-8 flex flex-col items-center fill-slate-50 stroke-slate-50 underline transition-colors hover:fill-blue-500 hover:stroke-blue-500 hover:text-slate-200"
                  href="{{ .url }}"
                  target="_blank"
                  rel="noreferrer"
                  >{{ .icon | safeHTML }} {{ .text }}</a
                >
              </div>
            {{ end }}
          </div>
        {{ end }}

        {{ if $.Site.Data.contact.not_looking_for_work }}
          <p class="text-center text-sm text-slate-300 italic">
            I am not currently looking for new work. Please do not contact me
            regarding such opportunities.
          </p>
        {{ else if $.Site.Data.contact.actively_looking_for_work }}
          <p class="text-center text-sm text-slate-300 italic">
            I am actively looking for new work. Please contact me if you have
            any opportunities.
          </p>
        {{ end }}
      </section>
    </div>
  </div>
{{ end }}
