{{ define "title" }}{{ .Title }}{{ end }}

{{ define "main" }}
  <div class="mx-auto mb-8 max-w-prose px-4 lg:max-w-4xl">
    <section class="mb-8">
      <h1 class="mb-4 text-4xl">{{ .Title }}</h1>
      {{ $publishDate := .PublishDate | time.Format ":date_long" }}
      {{ $updateDate := .Lastmod | time.Format ":date_long" }}
      {{ $showUpdate := and (gt .Lastmod .PublishDate) (ne $publishDate $updateDate) }}
      <h2 class="mb-4 text-neutral-500 uppercase">
        {{ $publishDate }}
        {{ if $showUpdate }}
          &mdash; Updated
          {{ $updateDate }}
        {{ end }}
      </h2>
      {{ partial "tag-list.html" (.GetTerms "tags") }}
    </section>
    <article class="prose prose-invert lg:max-w-4xl">
      {{ .Content }}
    </article>
  </div>
{{ end }}
