{{ define "title" }}{{ .Title }}{{ end }}

{{ define "header" }}
  <section class="bg-slate-900 text-slate-100">
    <nav class="mx-auto max-w-3xl p-4">
      {{ $knowledgeHome := ref . "/knowledge" }}
      <a class="text-lg underline" href="{{ $knowledgeHome }}">&larr; Back</a>
    </nav>
  </section>
{{ end }}

{{ define "main" }}
  <div class="h-screen overflow-auto bg-slate-900">
    <article class="prose prose-invert mx-auto p-2 lg:prose-lg">
      <h1 class="text-3xl">{{ .Title }}</h1>
      {{ .Content }}
    </article>
  </div>
{{ end }}
