{{ $original := .Page.Resources.GetMatch (.Get "src") }}
{{ $maxWidth := 800 }}
{{ $maxHeight := 500 }}
{{ $needsResize := false }}
{{ $preview := $original }}
{{ if gt $original.Width $maxWidth }}
  {{ $needsResize = true }}
  {{ $preview = $original.Resize "800x" }}
{{ end }}

{{ if gt $preview.Height $maxHeight }}
  {{ $needsResize = true }}
  {{ $preview = $original.Resize "x500" }}
{{ end }}

<figure>
  {{- if $needsResize -}}
    <a href="{{ $original.RelPermalink }}">
  {{- end -}}
  <img
      src="{{ $preview.RelPermalink }}"
      {{- if or (.Get "alt") (.Get "caption") }}
      alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
      {{- end }}
      width="{{ $preview.Width }}"
  />
  {{- if $needsResize -}}
    </a>
  {{- end -}}
  <figcaption>
    {{ .Get "caption" | markdownify }}
  </figcaption>
</figure>
